@{
    ViewData["Title"] = "Error";
}

<h2>Translate Error</h2>

<p>Could not Translate the number <strong>"@ViewData["Number"]"</strong> to words</p>

<p>Check the entered number is in the correct format</p>

<a asp-area="" asp-controller="Translator" asp-action="Index">Go Back</a>