@{
    ViewData["Title"] = "Translate";
}

<h2>Translate</h2>

<p>Translate <strong>@ViewData["Number"]</strong> to words</p>

<p>Translation: <strong>@ViewData["Translation"]</strong></p>

<a asp-area="" asp-controller="Translator" asp-action="Index">Go Back</a>
